---
layout: page
titles:
  # @start locale config
  en      : &EN       Analysis
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  比赛分析
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  比賽分析
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       경기 분석
  ko-KR   : *KO
  fr      : &FR       Analyse
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  tr      : &TR       Analiz
  # @end locale config
---

{% assign analysis_posts = site.posts | where_exp: "post", "post.tags contains 'Analysis'" %}

<div class="layout--archive">
  <div class="layout--archive__result">
    {%- include article-list.html articles=analysis_posts type='brief' show_info=true reverse=true group_by='year' -%}
  </div>
</div>

{{ content }}
